* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #010101;
  background-color: #fefefe;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1400px;
  height: 100%;
}

/* TYPOGRAPHY */
p {
  font-weight: 400;
}

h2 {
  font-size: 72px;
  letter-spacing: -0.04em;
}

h2 + p {
  font-size: 30px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 54px;
}

h3 + p {
  font-size: 24px;
  letter-spacing: -0.01em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}


/* UTILITIES */
.flex {
  display: flex;
}

.jc-center {
  justify-content: center;
}

.jc-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.mb40 {
  margin-bottom: 40px;
}

.ptb120 {
  padding: 120px 0;
}

.pl60 {
  padding: 0 60px;
}

.btn {
  padding: 0 30px;
  height: 55px;
  min-width: 160px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fefefe;
  background-color: #eb621f;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background-color: #f76210;
}

.btn.color-op {
  color: #eb621f;
  background-color: rgba(235, 98, 31, .18);
}

.btn.color-op:hover {
  color: #fefefe;
  background-color: #eb621f;
}

.btn.btn-white {
  font-weight: 400;
  color: #010101;
  border: 1px solid transparent;
  background-color: #fefefe;
}

.btn.btn-white:hover {
  color: #fefefe;
  border: 1px solid #fefefe;
  background-color: transparent;
}

.btn.full-width {
  width: 100%;
}

.color-white {
  color: #fefefe;
}

/* AVADA WEBSITE */
/* HEADER */
header {
  /* position: relative; */
}

/* NAVIGATION HEADER */
.nav-header {
  padding: 30px;
  height: 110px;
}

/* Nav Logo */
.nav-logo img {
  max-height: 42px;
}

/* Nav menu */
.nav-menu ul li {
  padding: 5px;
}

.nav-menu ul li:not(:first-of-type) {
  margin-left: 30px;
}

/* Nav contacts */
.nav-contacts ul li:not(:last-of-type) {
  margin-right: 30px;
}

/* HERO HEADER */
.hero {
  position: relative;
  height: 690px;
  background-image: url('../images/marketing-intro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hero black layover */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
}

/* Hero left */
.hero-left {
  position: relative;
  max-width: 50%;
  z-index: 1;
}

.btn-white i {
  margin-left: 5px;
}

/* Hero right */
.hero-right {
  /* position: absolute; */
}