* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #010101;
  background-color: #fefefe;
}


.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1400px;
  height: 100%;
}

/* TYPOGRAPHY */
p {
  font-weight: 400;
}

h2 {
  font-size: 72px;
  letter-spacing: -0.04em;
}

h2 + p {
  font-size: 30px;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 54px;
}

h3 + p {
  font-size: 24px;
  letter-spacing: -0.01em;
  line-height: 1.5em;
}

h4 {
  font-size: 26px;
  font-weight: 500;
}

h5 {
  font-size: 24px;
  font-weight: 500;
  
}

h6 {
  font-size: 20px;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}


/* UTILITIES */
/* Flex */
.flex {
  display: flex;
}

.fd-col {
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-evenly {
  justify-content: space-evenly;
}

.jc-around {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.ai-baseline {
  align-items: flex-end;
}

.as-stretch {
  align-self: stretch;
}

.col-6 {
  padding: 0 25px;
  width: 50%;
}

.col-4 {
  padding: 20px;
  width: calc(100% / 3);
}

.col-3 {
  padding: 15px;
  width: 25%;
}

/* Spacing */
.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.mb120 {
  margin-bottom: 120px;
}

.mb160 {
  margin-bottom: 160px;
}

.mb300 {
  margin-bottom: 300px;
}

.mt120 {
  margin-top: 120px;
}

.ptb120 {
  padding: 120px 0;
}

.pl60 {
  padding: 0 60px;
}

.pl100 {
  padding: 0 100px;
}

.text-center {
  text-align: center;
}

/* Buttons */
.btn {
  padding: 0 40px;
  min-height: 55px;
  min-width: 160px;
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #fefefe;
  background-color: #eb621f;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s;
}

.btn:hover {
  background-color: #f76210;
}

.btn.color-op {
  color: #eb621f;
  background-color: rgba(235, 98, 31, .18);
}

.btn.color-op:hover {
  color: #fefefe;
  background-color: #eb621f;
}

.btn.btn-white {
  font-weight: 400;
  color: #010101;
  border: 2px solid #fefefe;
  background-color: #fefefe;
}

.btn.btn-white:hover {
  color: #fefefe;
  background-color: transparent;
}

.btn.full-width {
  width: 100%;
}

.color-white {
  color: #fefefe;
}

/* AVADA WEBSITE */
/* HEADER */
header {
  /* position: relative; */
}

/* NAVIGATION HEADER */
.nav-header {
  padding: 30px;
  height: 110px;
}

/* Nav Logo */
.nav-logo img {
  max-height: 42px;
}

/* Nav menu */
.nav-menu ul li {
  height: 40px;
  line-height: 40px;
  padding: 2px 8px;
  border-bottom: 2px solid transparent;
  transition: .2s;
  cursor: pointer;
}

.nav-menu ul li:not(:first-of-type) {
  margin-left: 15px;
}

.nav-menu ul li:hover {
  color: #f76210;
  border-bottom: 2px solid #f76210;
}

/* Nav contacts */
.nav-contacts ul li:not(:last-of-type) {
  margin-right: 30px;
}

.nav-menu ul li i {
  margin-left: 10px;
  font-size: 12px;
}

.nav-contacts i {
  margin-right: 10px;
  color: #f76210;
}

/* HERO HEADER */
.hero {
  position: relative;
  height: 690px;
  background-image: url('../images/marketing-intro.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hero black layover */
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
}

/* Hero left */
.hero-left,
.happen-left {
  position: relative;
  max-width: 50%;
  z-index: 1;
}

.btn-white i {
  margin-left: 5px;
}

/* Hero right */
.hero-right,
.happen-right {
  margin: 0 auto;
  align-self: flex-end;
  position: relative;
  bottom: -50px;
  box-shadow: 0px 20px 20px rgb(1, 1, 1, .1);
  z-index: 1;
}

.consultant {
  padding: 32px;
  width: 37%;
  border-radius: 12px;
  background-color: #fefefe;
}

.consultant.richard {
  /* margin: 0 auto; */
}

.avatar {
  max-height: 80px;
}

.avatar-img-wrapper {
  width: 80px;
}

.avatar-img-wrapper img {
  display: block;
  height: 100%;
  border-radius: 50%;
}

.consultant-title span {
  font-weight: 400;
  color: rgba(1, 1, 1, .6);
}

.consultant-number span {
  color: #f76210;
  font-weight: 400;
}

.consultant .input-name {
  position: relative;
}

.consultant .input-name label {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.consultant input {
  padding: 20px;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: rgba(1, 1, 1, .6);
  border: 1px solid rgba(1, 1, 1, .1);
  border-radius: 10px;
  transition: .2s;
}

.consultant input::placeholder {
  opacity: .3;
}

.consultant input:hover {
  border: 1px solid rgba(247, 98, 16, .4);
}

.consultant input:focus {
  border: 1px solid rgba(247, 98, 16, .8);
}

.consultant .btn.full-width + p {
  font-size: 12px;
  color: rgb(1, 1, 1, .4);
}

/* MAIN CONTENT */
/* WHAT WE DO */
.wwd-right {
  max-width: 40%;
}

.wwd-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.blue {
  background-color: #223bcb;
}

.green {
  background-color: #95f1be;
}

.yellow {
  background-color: #efd43f;
}

.wwd-logo + span {
  margin-left: 10px;
  font-size: 20px;
}

.wwd-row:nth-child(2n) {
  flex-direction: row-reverse;
}

/* COLLABORATIONS */
.brands-img-wrapper {
  align-self: stretch;
}

.collaborations .brands-img-wrapper img {
  max-height: 45px;
}

.consultant.sandy {
  padding: 15px 50px;
  width: 100%;
  box-shadow: 0px 20px 20px rgb(1, 1, 1, .1);
}

.consultant.sandy .name {
  margin-left: 20px;
}

.consultant.sandy .consultant-title span {
  font-size: 14px;
}

/* FEEDBACKS */
.fdb-row {
  width: 100%;
}

.orange-img {
  position: relative;
  margin-bottom: 32px;
  cursor: pointer;
}

.orange-img img {
  display: block;
  max-width: 100%;
}

.orange-img::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, rgba(247, 98, 16, .5) 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  transition: opacity .3s;
}

.orange-img:hover::after {
  opacity: 1;
}

.orange-img + a {
  display: block;
  min-height: 180px;
  font-size: 32px;
  transition: .2s;
}

.orange-img + a:hover {
  color: #f76210;
}

/* WORK WITH US */
.work-with-us {
  background-image: linear-gradient(45deg, #fefefe 0%, #f7f7f9 100%);
}

.wwu-left {
  padding: 0 60px;
}

.wwu-left h4 {
  font-size: 32px;
}

.wwu-left h4 + p {
  font-size: 20px;
}

img {
  max-width: 100%;
}

/* wwu row 2 */
.wwu-row-two {
  max-height: 400px;
}

.wwu-row-two .wwu-right {
  min-height: 400px;
}

.wwu-icons-col {
  padding-left: 50px;
}

.wwu-icon {
  min-width: 75px;
  height: 75px;
  color: #f76210;
  border: 2px solid #f76210;
  border-radius: 15px;
  cursor: pointer;
}

.wwu-description {
  padding-left: 25px;
  height: 75px;
}

.wwu-icon i {
  font-size: 30px;
  transition: .15s;
}

.wwu-icon:hover i {
  font-size: 36px;
}

.wwu-icon:hover + div > h5 {
  color: #f76210;
}

.wwu-row-two h5{
  transition: .2s;
}

.wwu-row-two h5:hover {
  color: #f76210;
}

/* wwu awards */
.award {
  display: block;
  max-width: 110px;
}

.award.one {
  filter: hue-rotate(180deg);
}

.award.three {
  filter: hue-rotate(335deg);
}

.award.four {
  filter: hue-rotate(580deg);
}

/* TESTIMONIAL */
.testimonial-image img {
  border-radius: 10px;
}

.testimonial-text {
  padding: 120px;
}

.testimonial-text h4 {
  font-size: 32px;
}

.testimonial-text h5 {
  margin-bottom: 10px;
  font-size: 20px;
}

.testimonial-text p {
  font-size: 14px;
}

/* RESOURCES */
.resources {
  background-image: linear-gradient(45deg, #fefefe 0%, #f7f7f9 100%);
}

.resources .orange-img + a {
  min-height: 0;
}

/* HAPPEN */
.happen {
  background-color: #010101;
}

.separator {
  width: 100px;
  height: 1px;
  background-color: #858786;
}

.happen .happen-left em {
  display: block;
  font-size: 22px;
  line-height: 1.5;
}

.happen .happen-left h5 {
  font-size: 20px;
  line-height: 1.5;
}

.happen .happen-left h5 + p {
  font-size: 14px;
}

.happen .happen-right {
  position: static;
  align-self: center;
}

/* FOOTER */
.footer a:hover,
.footer span:hover {
  color: rgba(0, 0, 0, .7);
  transition: .1s;
}

.footer a span {
  font-size: 20px;
  font-weight: 400;
  color: rgb(1, 1, 1, .9);
}

.footer-nav-category {
  margin-bottom: 30px;
}

.footer-social,
.copyright {
  width: 40%;
}

.footer-services,
.footer-resources,
.footer-company,
.call-us,
.email-us {
  width: 20%;
}

.email-us {
  margin-left: 20%;
}

/* social */
.social-wrapper {
  margin-right: 20%;
}

.social-wrapper h4 {
  font-size: 32px;
}

.social-wrapper ul li:not(:last-of-type) {
  margin-right: 20px;
}

.social-wrapper ul li a {
  display: block;
  padding-left: 5px;
  height: 25px;
  width: 25px;
}

.social-wrapper i {
  font-size: 20px;
}

/* FIXED ELEMENTS */
/* TRY - BUY BOXES */
.try-buy {
  position: fixed;
  top: 150px;
  right: 15px;
}

.try-buy span {
  font-size: 12px;
  color: #4a5259;
  font-weight: 700;
}

.try-buy i {
  font-size: 22px;
  color: #33475b;
}

.try {
  margin-bottom: 10px;
}

.buy .price {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  color: #65bc7b;
}

.buy .price::before {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  content: '$';
  font-size: 12px;
}

.try,
.buy {
  width: 65px;
  height: 65px;
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(1, 1, 1, .2);
  cursor: pointer;
}

/* HELPER */
.helper-fixed {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 240px;
}

/* chat */
.chat {
  display: none;
  position: relative;
  padding: 35px 15px;
  max-width: 100%;
  background-color: #fefefe;
  box-shadow: 0px 0px 20px rgb(1, 1, 1, .2);
  border-radius: 5px;
}

.chat.visible {
  display: block;
}

.helper-avatar,
.helper-avatar img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.helper-avatar {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translate(-50%, 50%);
}

.chat-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: rgba(0, 0, 0, .7);
}

.chat-close {
  position: absolute;
  top: 5px;
  right: 7px;
  color: rgba(0, 0, 0, .6);
  cursor: pointer;
  transition: .2s;
}

.chat-close:hover {
  color: rgba(247, 98, 16, .8);
}

/* message toggle button */
.msg-button {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f76210;
  cursor: pointer;
  transition: .25s;
}

.msg-button i {
  font-size: 24px;
  color: #fefefe;
}

.msg-button:hover {
  box-shadow: 0px 0px 10px rgba(247, 98, 16, .7);
  /* box-shadow: 0px 0px 10px rgb(1, 1, 1, .5); */
}